*
{
    margin: 0;
    padding: 0;
}
.my_header{
    height: 80px;
}
.logo img{
   padding-top: 25px;
}
.search input{
    border-top: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    width: 400px;
    margin-top: 30px;
    height: 35px;
    border-radius: 3px;
}
i.fa-search{
    color: #e3e3e3;
    position: relative;
    right: 40px;
    font-size: 20px;
}
.price{
    padding-top: 25px;
}

.bskt_price{
    position: relative;
    bottom:55px;
    left: 80px;
    font-size:30px;
    color: #a1a1a1;
    font-weight: bold;
}
.my_navbar{
    background: #4ccfc1;
    box-shadow: 1px 8px 15px #034b58;
 
}
.my_menu_main{
    position: relative;
   
}
.my_menu_main li{
    background: url(images/menu_border.png)no-repeat right center;
}
.my_menu_main li:last-child{
    background: none;
}
.main_nav_menu_mine{
    margin-top: 30px;
}
.my_menu_main li a{
    line-height: 20px;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff !important;   
}
.my_menu_main li a:hover{
    background: #0a8477 !important; 
    
}
.slider{
    width: 100%;
    background: #3dc5b1;
    height: 450px;
    position: relative;
    bottom:21px;
}
.slider_img{
    margin-top: 80px;
    margin-left: 80px;
}
.slider_text{
    margin-top: 80px;
}
.slider_text h1{
    color: #fff;
    text-transform: uppercase;
    font-family: impact;
    font-size: 45px;
}
.slider_text p{
    color: #fff;
}
.slider_text a{
    border: 2px solid #fff;
    border-radius: 7px;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
.slider_text a:hover{
    text-decoration: none;
}
.before_feature{
    margin-top: 30px;
}
.bfr_fea_dv{
    border-right: 1px solid #e3e3e3;
}
.bfr_fea_dv:last-child{
    border: none;
}
.bfr_fea_dv h3{
    color: #afafaf;
    font-weight: bold;
}
.bfr_fea_text{
    
}
.bfr_fea_dv a{
   background: #3cc395;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 6px;
}
.bfr_fea_dv a:hover{
    text-decoration: none;
}
.feature_text{
    background: #3ac1b5;
    height: 50px;
}
.feature_text h2{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
.feature{
    margin-top: 50px;
}
.feature_item{
    height: 280px;
    text-align: center;
    border: 1px solid #ddd;
    border-bottom: 3px solid #3cc395;
}
.feature_item h3{
      color: #6d6d6d;
    font-weight: bold;
}
.price_fea{
    font-size: 20px;
    color: #6d6d6d;
}
.feature_item a{
    background: #3cc395;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
}
.footer{
    margin-top: 50px;
    background: #3cc3b5;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer h2{
    color: #fff;
    font-size: 18px;
}
.footer li{
    list-style: none;
}
.footer li a{
    color:#fff;
}
.footer li a:hover{
    text-decoration: none;
}

.footer-text{
    background: #2da89b;
    height: 40px;
}
.footer-text p{
    text-align: center;
    padding-top: 10px;
    color: #fff;
}
/*For Desktop*/
@media only screen and (min-width:997px) and (max-width:1920px){
  .my_menu_main{
    margin-top: -27px;
}  
}

@media only screen and (min-width:320px) and (max-width:480px){
    .logo img{
        width: 50px;
    }
    .logo{
        float: left;
    }
    .search{
        float: right;
        width: 250px;
        position: relative;
        margin-top:-100px;
    }
    .search input{
          float: left;
        width: 100px;
        position: relative;
        top: 50px;
        left: 50px;
        height: 25px;
}
i.fa-search{
    color: #e3e3e3;
    position: relative;
    left: 30px;
    font-size: 10px;
    top: 80px;
}
.price{
    padding-top: 25px;
    float: right;
    position: relative;
    bottom: 60px;
    right: 50px;
}

.bskt_price{
    position: relative;
    bottom:45px;
    
    left: 50px;
    font-size:20px;
    color: #a1a1a1;
    font-weight: bold;
}
    
    .my_navbar{
        position: relative;
        z-index: 3;
    background: #4ccfc1;
    box-shadow: 1px 8px 15px #034b58;
    height: 40px;
 
}
.my_menu_main{
    z-index: 1;
    position: relative;
}
.main_nav_menu_mine{
    margin-top: 30px;
}
.my_menu_main li a{
    line-height: 20px;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff !important;   
}
.my_menu_main li a:hover{
    background: #0a8477 !important; 
    
}
    .slider{
    width: 100%;
    background: #3dc5b1;
    height: 650px;
    position: relative;
    bottom:21px;
}
.slider_img{
    position: relative;
    right: 80px;
    float: left;
    bottom: 50px;
}
.slider_text{
    text-align: center;
    position: relative;
 bottom: 30px;
}
.slider_text h1{
    color: #fff;
    text-transform: uppercase;
    font-family: impact;
    font-size: 25px;
}
.slider_text p{
    color: #fff;
}
.slider_text a{
    border: 2px solid #fff;
    border-radius: 7px;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
.slider_text a:hover{
    text-decoration: none;
}
.before_feature{
    margin-top: 30px;
    text-align: center;
   
}
.bfr_fea_dv{
    border-right: 1px solid #e3e3e3;
     margin-bottom: 20px;
}
.bfr_fea_dv:last-child{
    border: none;
}
.bfr_fea_dv h3{
    color: #afafaf;
    font-weight: bold;
}
.bfr_fea_text{
    
}
.bfr_fea_dv a{
   background: #3cc395;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 6px;
}
.bfr_fea_dv a:hover{
    text-decoration: none;
}
.feature_text{
    background: #3ac1b5;
    height: 50px;
}
.feature_text h2{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
.feature{
    margin-top: 50px;
}
.feature_item{
    height: 280px;
    text-align: center;
    border: 1px solid #ddd;
    border-bottom: 3px solid #3cc395;
}
.feature_item h3{
      color: #6d6d6d;
    font-weight: bold;
}
.price_fea{
    font-size: 20px;
    color: #6d6d6d;
}
.feature_item a{
    background: #3cc395;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
}
.footer{
    text-align: center;
    margin-top: 50px;
    background: #3cc3b5;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer h2{
    color: #fff;
    font-size: 18px;
}
.footer li{
    list-style: none;
}
.footer li a{
    color:#fff;
}
.footer li a:hover{
    text-decoration: none;
}

.footer-text{
    background: #2da89b;
    height: 40px;
}
.footer-text p{
    text-align: center;
    padding-top: 10px;
    color: #fff;
}
    
}
